.contenedor {
  margin: auto;
  -webkit-perspective: 800;
  display: flex;
  justify-content: center;
}
.carta {
  height: 269px;
  width: 218px;
  position: relative;
  transform-style: preserve-3d; /*para convertir a los elementos en objetos 3d*/
  transition: 1.2s;
  margin: 15px;
  padding: 10px;
}
.carta:hover {
  transform: rotateY(180deg);
}
.carta p {
  padding: 50% 0;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}
.lado {
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /*se oculta el elemento trasero de algo cuando se gira*/
  position: absolute;
}
.frente-oliva {
  background: darkolivegreen;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
}
.frente-naranja {
  background: darkorange;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
}
.frente-indianred {
  background: indianred;
  color: #fff;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
}
.atras {
  transform: rotateY(180deg);
  position: relative;
}
.atras img {
  border-radius: 15px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.7);
}
